<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href={{url_for('static',filename="css/bs-min.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet" href={{url_for('static',filename="fonts/font-awesome.min.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="fonts/material-icons.min.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="css/dh-card-image-left-dark.css")}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href={{url_for('static',filename="css/NavBar-Notifications-Panel-1.css")}}>
    <link rel="stylesheet" href={{url_for('static',filename="css/NavBar-Notifications-Panel.css")}}>
</head>

<body class="text-black-50" id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container">
            <div class="dropdown flash animated"><a class="link-light bg-secondary border rounded border-secondary" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="padding-top: 11px;"><i class="material-icons">notifications_active</i></a>
                <div class="dropdown-menu dropdown-menu-dark notification-menu"><a class="dropdown-item notification-item" href="#">
                        <div>
                            <p>variance pvt. ltd. Welcomes you to ceez</p><span>few minutes ago...</span>
                        </div>
                    </a></div>
            </div><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#schedule">Schedule</a></li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <!-- Start: #place_order --><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#place_order">Place order</a><!-- End: #place_order -->
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white bg-primary masthead">
        <div class="container">
            <h1 style="font-family: Montserrat, sans-serif;color: rgb(255,255,255);">&nbsp;VARIANCE</h1>
            <hr class="star-light">
        </div>
    </header>
    <!-- Start: #schedule -->
    <section class="bg-dark portfolio" id="schedule" style="background: rgb(0,0,0);">
        <div class="col">
            <h1 class="text-center d-xl-flex flex-grow-1 flex-fill justify-content-xl-center" style="color: #ffffff;">Schedule</h1>
            <hr class="star-light">
            <div class="container">
                <div class="d-xl-flex photo-card" style="background: rgb(0,0,0);">
                    <div class="d-xl-flex photo-background" style="width: 53.25px;background: linear-gradient(90deg, rgb(8,48,40), var(--bs-primary));"></div>
                    <div class="photo-details" style="padding-bottom: 21px;width: 560px;">
                        <div class="row" style="width: 180.25px;">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 30px;">
                                <h1 style="font-weight: bold;font-size: 26px;">#1</h1>
                            </div>
                            <div class="col" style="width: 203.625px;">
                                <h1 style="font-weight: bold;font-size: 26px;">SYMBOL</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Side</span></div>
                            <div class="col"><select class="bg-dark border rounded border-dark d-xl-flex justify-content-xl-center" style="height: 35px;width: 75px;margin: 2px;margin-left: 2px;padding-left: 9px;color: rgb(255,255,255);">
                                    <option value="12" selected="">Buy</option>
                                    <option value="13">ITM</option>
                                    <option value=""></option>
                                </select></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Type</span></div>
                            <div class="col"><select class="bg-dark border rounded border-dark d-xl-flex justify-content-xl-center" style="height: 35px;width: 75px;margin: 2px;margin-left: 2px;padding-left: 9px;color: rgb(255,255,255);">
                                    <option value="12" selected="">Limit</option>
                                    <option value="13">Market</option>
                                </select></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Take Profit</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="number" style="width: 127px;height: 35px;margin: 2px;"></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Quantity</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="number" style="width: 127px;height: 35px;margin: 2px;"></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Time Inforce</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="text" style="height: 35px;width: 127px;margin: 2px;color: rgb(255,255,255);"></div>
                        </div>
                        <div class="photo-tags">
                            <ul class="d-xl-flex justify-content-xl-end" style="margin: 13.9px 0px 0px;">
                                <li><a class="text-uppercase" href="#">edit</a></li>
                                <li><a class="text-uppercase bg-secondary" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End: #schedule -->
    <!-- Start: #seperator -->
    <section class="text-white bg-primary mb-0" id="separator1" style="background: var(--bs-yellow);"></section><!-- End: #seperator -->
    <!-- Start: #place_order -->
    <section class="bg-dark" id="place_order">
        <div class="col">
            <h1 class="text-center d-xl-flex flex-grow-1 flex-fill justify-content-xl-center" style="color: #ffffff;">Place&nbsp; an order</h1>
            <hr class="star-dark mb-5"><!-- Start: 1 Row 2 Columns -->
            <div class="container">
                <div class="photo-card" style="background: rgb(0,0,0);width: 749px;">
                    <div class="photo-background" style="width: 53.25px;background: linear-gradient(90deg, rgb(8,48,40), var(--bs-primary));"></div>
                    <div class="photo-details" style="width: 644.25px;padding-bottom: 21px;">
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Symbol</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="text" style="height: 35px;width: 127px;margin: 2px;color: rgb(255,255,255);"></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Type</span></div>
                            <div class="col"><select class="bg-dark border rounded border-dark d-xl-flex justify-content-xl-center" style="height: 35px;width: 75px;margin: 2px;padding-left: 9px;color: rgb(255,255,255);">
                                    <option value="12" selected="">Limit</option>
                                    <option value="13">Market</option>
                                </select></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Side</span></div>
                            <div class="col"><select class="bg-dark border rounded border-dark d-xl-flex justify-content-xl-center" style="height: 35px;width: 75px;margin: 2px;padding-left: 9px;color: rgb(255,255,255);">
                                    <option value="12" selected="">Buy</option>
                                    <option value="13">ITM</option>
                                    <option value=""></option>
                                </select></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Take Profit</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="number" style="width: 127px;height: 35px;margin: 2px;"></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" style="color: var(--bs-white);font-size: 20px;" title="The order in which it should execute, with respect to other orders.">Execution Series</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="number" data-bs-toggle="tooltip" data-bss-tooltip="" style="width: 127px;height: 35px;margin: 2px;" title="1 for buy now orders."></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Quantity</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="number" style="width: 127px;height: 35px;margin: 2px;"></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Time Inforce</span></div>
                            <div class="col"><input class="bg-dark border rounded border-dark" type="text" style="height: 35px;width: 127px;margin: 2px;color: rgb(255,255,255);"></div>
                        </div>
                        <div class="photo-tags">
                            <ul class="d-xl-flex justify-content-xl-end" style="margin: 13.9px 0px 0px;">
                                <li><a class="text-uppercase" href="#">Execute Now</a></li>
                                <li><a class="text-uppercase bg-secondary" href="#">Schedule</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End: 1 Row 2 Columns -->
        </div>
    </section><!-- End: #place_order -->
    <!-- Start: #seperator -->
    <section class="text-white bg-primary mb-0" id="seperator2" style="background: var(--bs-yellow);"></section><!-- End: #seperator -->
    <!-- Start: #settings -->
    <section class="bg-dark d-xl-flex justify-content-xl-center" id="settings">
        <div class="col">
            <h1 class="text-center d-xl-flex flex-grow-1 flex-fill justify-content-xl-center" style="color: #ffffff;">Settings</h1>
            <hr class="star-light"><!-- Start: 1 Row 2 Columns -->
            <div class="container">
                <div class="photo-card" style="background: rgb(0,0,0);height: 155px;">
                    <div class="photo-background" style="width: 60.25px;background: linear-gradient(90deg, rgb(8,48,40), var(--bs-primary));min-height: 129px;"></div>
                    <div class="photo-details" style="padding-bottom: 21px;width: 644.25px;">
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Symbol</span></div>
                            <div class="col"><button class="btn btn-primary bg-dark border rounded border-dark" type="button" style="width: 127px;height: 35px;margin: 2px;">Button</button></div>
                        </div>
                        <div class="row">
                            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><span class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-white);font-size: 20px;">Type</span></div>
                            <div class="col"><button class="btn btn-primary bg-dark border rounded border-dark" type="button" style="width: 127px;height: 35px;margin: 2px;">Button</button></div>
                        </div>
                        <div class="photo-tags"></div>
                    </div>
                </div>
            </div><!-- End: 1 Row 2 Columns -->
        </div>
    </section><!-- End: #settings -->
    <footer class="text-center bg-secondary footer" style="background: rgb(0,0,0);height: 119px;padding-top: 45px;">
        <div class="container">
            <div class="col"><small>Made with&nbsp;🤍 by&nbsp; <a href="linkedin.com/in/monees007">@monees007</a></small></div><small>Copyright © Variance Pvt. Ltd. 2021</small>
        </div>
    </footer>
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="text-center d-block rounded text-white" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <script {{url_for('static',filename="js/bs-min.js")}} ></script>
    <script {{ url_for('static',filename="js/bs-init.js") }}></script>
    <script {{ url_for('static',filename="js/js.js")}}></script>
</body>

</html>